.auth {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: center;

  background-image: url("../img/auth/background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 150vh;
  background-position: center;

  & > img {
    position: absolute;
    height: 250px;
    left: 5vw;
    top: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;

    width: 35vw;
    min-height: 50vh;

    background-color: #ffffffc7;
    border-radius: 5px;
    box-shadow: 2px 2px 40px #000;

    z-index: 1;
  }
}
