.nav-bar {
  border-bottom: 1px solid #d1d1d1;
  box-shadow: 0 1px 10px #d1d1d1;

  position: sticky !important;
  top: 0;
  background-color: #fff;

  z-index: 1;

  &__right {
    &__buttons {
      margin-right: 4rem;

      & > button {
        margin: 0 0.5rem;
      }
    }

    &__sign-out > a {
      color: rgb(197, 0, 0);
    }
  }
}
