.room-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  &__header-container {
    width: 100%;
    height: 50px;
  }
  &__chat-container {
    width: 100%;
    max-height: calc(100vh - 67px - 50px - 61px);
    min-height: calc(100vh - 67px - 50px - 85px);
  }
  &__compose-container {
    width: 100%;
  }
}
